.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.954102;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1788.996942px;}
._0{width:50.659999px;}
._3{width:64.100000px;}
._2{width:2122.340481px;}
.fc2{color:rgb(131,153,42);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(38,38,38);}
.fs6{font-size:72.000000px;}
.fs7{font-size:74.000000px;}
.fs1{font-size:84.000000px;}
.fs4{font-size:96.000000px;}
.fs3{font-size:112.400002px;}
.fs2{font-size:176.000000px;}
.fs5{font-size:192.000000px;}
.fs0{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.ya{bottom:104.924271px;}
.y13{bottom:114.817924px;}
.y12{bottom:136.417923px;}
.y9{bottom:145.484268px;}
.y11{bottom:158.017921px;}
.y10{bottom:179.617920px;}
.y8{bottom:186.044266px;}
.y7{bottom:214.844269px;}
.y2{bottom:229.095551px;}
.y6{bottom:243.644272px;}
.y5{bottom:284.204273px;}
.y1{bottom:292.092941px;}
.y4{bottom:313.004272px;}
.ye{bottom:331.806030px;}
.yf{bottom:342.606030px;}
.yd{bottom:353.406029px;}
.y3{bottom:397.285503px;}
.yb{bottom:432.035954px;}
.yc{bottom:446.025051px;}
.h7{height:50.132812px;}
.h8{height:52.970703px;}
.h2{height:58.488281px;}
.h5{height:66.843750px;}
.h4{height:80.458204px;}
.h3{height:122.546875px;}
.h6{height:133.687500px;}
.h1{height:150.398438px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x6{left:79.810928px;}
.xb{left:96.141251px;}
.x4{left:109.200104px;}
.x5{left:131.700104px;}
.x3{left:320.972656px;}
.x8{left:330.460182px;}
.x1{left:333.533981px;}
.x9{left:361.586639px;}
.x7{left:398.466187px;}
.x2{left:409.909454px;}
.xa{left:548.622822px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-2385.329256pt;}
._0{width:67.546666pt;}
._3{width:85.466667pt;}
._2{width:2829.787308pt;}
.fs6{font-size:96.000000pt;}
.fs7{font-size:98.666667pt;}
.fs1{font-size:112.000000pt;}
.fs4{font-size:128.000000pt;}
.fs3{font-size:149.866669pt;}
.fs2{font-size:234.666667pt;}
.fs5{font-size:256.000000pt;}
.fs0{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.ya{bottom:139.899028pt;}
.y13{bottom:153.090566pt;}
.y12{bottom:181.890564pt;}
.y9{bottom:193.979024pt;}
.y11{bottom:210.690562pt;}
.y10{bottom:239.490560pt;}
.y8{bottom:248.059021pt;}
.y7{bottom:286.459025pt;}
.y2{bottom:305.460734pt;}
.y6{bottom:324.859029pt;}
.y5{bottom:378.939031pt;}
.y1{bottom:389.457255pt;}
.y4{bottom:417.339030pt;}
.ye{bottom:442.408040pt;}
.yf{bottom:456.808039pt;}
.yd{bottom:471.208038pt;}
.y3{bottom:529.714005pt;}
.yb{bottom:576.047938pt;}
.yc{bottom:594.700068pt;}
.h7{height:66.843750pt;}
.h8{height:70.627604pt;}
.h2{height:77.984375pt;}
.h5{height:89.125000pt;}
.h4{height:107.277606pt;}
.h3{height:163.395833pt;}
.h6{height:178.250000pt;}
.h1{height:200.531250pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x6{left:106.414571pt;}
.xb{left:128.188334pt;}
.x4{left:145.600138pt;}
.x5{left:175.600138pt;}
.x3{left:427.963542pt;}
.x8{left:440.613576pt;}
.x1{left:444.711975pt;}
.x9{left:482.115519pt;}
.x7{left:531.288249pt;}
.x2{left:546.545939pt;}
.xa{left:731.497096pt;}
}
